// Screen sizes.
$screen-xs-max: 479px;
$screen-sm-max: 767px;
$screen-md-max: 991px;

// Styles.
html, body {
    background-color: #0d1e24;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.content {
    text-align: center;
}

a
{
    &,
    &:hover,
    &:focus,
    {
        color: white;
    }
}

h1
{
    font-weight: 300;
    line-height: 1.1;

    &.no
    {
        font-size: 240px;

        @media (max-width: $screen-sm-max)
        {
            font-size: 150px;
        }

        @media (max-width: $screen-xs-max)
        {
            font-size: 150px;
        }
    }

    &.yes
    {
        font-size: 240px;

        @media (max-width: $screen-sm-max)
        {
            font-size: 150px;
        }

        @media (max-width: $screen-xs-max)
        {
            font-size: 150px;
        }
    }
}

footer
{
    position: absolute;
    bottom: 35px;
    width: 100%;

    .logo
    {
        img
        {
            height: 65px;
            margin: 0 auto;
            width: auto;

            @media (max-width: $screen-sm-max)
            {
                height: 35px;
            }
        }
    }
}
